[Unit]
Description=csye-webapp.service - starts the webapp application
Documentation=starts all the necessary needed for webapp
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225
ExecStart=/usr/bin/node /opt/csye6225/server.js
Restart=always

[Install]
WantedBy=cloud-init.target